.App {
  text-align: center;
}

.App-logo {
  width: 300px;
  height: 200px;
  border: 5px solid white;
  margin: 10px;
  object-fit: scale-down;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.App-link {
  color: #61dafb;
}

.text{
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

}